BACKUPs/

Controlling_the_Keyboard_and_Mouse/

Files/

.gitignore

Scraping/

Misc_NO_Commit/

pandas/old_moved_Hella_HMF_validation/Results - Copy.xlsx
pandas/old_moved_Hella_HMF_validation/excel_file.xlsx
pandas/old_moved_Hella_HMF_validation/excel_file_old.xlsx
pandas/old_moved_Hella_HMF_validation

*.mhtml

Playwright/course_playwright-exercise/